<footer class="sg-footer">
  <div class="made-with-love">
    Made with <span style="color: #e25555;">&hearts;</span> by VOID
  </div>
  <div class="copyright-bloc">
    &copy; Copyright 2021. All rights reserved to <a href="https://www.void.fr" target="_blank">Void.fr</a>
  </div>
</footer>
