@font-face {
  font-family: 'vactory';
  src:  url('fonts/vactory.eot?xs0w7x');
  src:  url('fonts/vactory.eot?xs0w7x#iefix') format('embedded-opentype'),
    url('fonts/vactory.ttf?xs0w7x') format('truetype'),
    url('fonts/vactory.woff?xs0w7x') format('woff'),
    url('fonts/vactory.svg?xs0w7x#vactory') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vactory' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-circle-left-solid:before {
  content: "\e90a";
}
.icon-arrow-circle-left:before {
  content: "\e90b";
}
.icon-arrow-circle-right-solid:before {
  content: "\e90c";
}
.icon-arrow-circle-right:before {
  content: "\e90d";
}
.icon-arrow-left--circle:before {
  content: "\e90e";
}
.icon-arrow-left-solid:before {
  content: "\e90f";
}
.icon-arrow-left:before {
  content: "\e910";
}
.icon-arrow-narrow-left-solid:before {
  content: "\e911";
}
.icon-arrow-narrow-left:before {
  content: "\e940";
}
.icon-arrow-narrow-right-solid:before {
  content: "\e94c";
}
.icon-arrow-narrow-right:before {
  content: "\e94d";
}
.icon-arrow-right--circle:before {
  content: "\e950";
}
.icon-arrow-right-solid:before {
  content: "\e951";
}
.icon-arrow-right:before {
  content: "\e954";
}
.icon-arrow-sm-left-solid:before {
  content: "\e978";
}
.icon-arrow-sm-left:before {
  content: "\e97c";
}
.icon-arrow-sm-right-solid:before {
  content: "\e986";
}
.icon-arrow-sm-right:before {
  content: "\e98b";
}
.icon-arrows-expand-solid:before {
  content: "\e98c";
}
.icon-arrows-expand:before {
  content: "\e990";
}
.icon-badge-check-solid:before {
  content: "\e995";
}
.icon-badge-check:before {
  content: "\e996";
}
.icon-call-center:before {
  content: "\e997";
}
.icon-caret-left:before {
  content: "\e998";
}
.icon-caret-right:before {
  content: "\e999";
}
.icon-check-circle-solid:before {
  content: "\e99a";
}
.icon-check-circle:before {
  content: "\e99b";
}
.icon-check-solid:before {
  content: "\e99c";
}
.icon-check:before {
  content: "\e99d";
}
.icon-chevron-double-down-solid:before {
  content: "\e99e";
}
.icon-chevron-double-down:before {
  content: "\e99f";
}
.icon-chevron-double-left-solid:before {
  content: "\e9a0";
}
.icon-chevron-double-left:before {
  content: "\e9a1";
}
.icon-chevron-double-right-solid:before {
  content: "\e9a2";
}
.icon-chevron-double-right:before {
  content: "\e9a3";
}
.icon-chevron-double-up-solid:before {
  content: "\e9a4";
}
.icon-chevron-double-up:before {
  content: "\e9a5";
}
.icon-chevron-down-solid:before {
  content: "\e9a6";
}
.icon-chevron-down:before {
  content: "\e9a7";
}
.icon-chevron-left-solid:before {
  content: "\e9a8";
}
.icon-chevron-left:before {
  content: "\e9a9";
}
.icon-chevron-right-circle:before {
  content: "\e9aa";
}
.icon-chevron-right-solid:before {
  content: "\e9ab";
}
.icon-chevron-right:before {
  content: "\e9ac";
}
.icon-chevron-up-solid:before {
  content: "\e9ad";
}
.icon-chevron-up:before {
  content: "\e9ae";
}
.icon-chevrons-down:before {
  content: "\e9af";
}
.icon-clipboard-check-solid:before {
  content: "\e9b0";
}
.icon-clipboard-check:before {
  content: "\e9b1";
}
.icon-cloud-download-solid:before {
  content: "\e9b2";
}
.icon-cloud-download:before {
  content: "\e9b3";
}
.icon-cloud-solid:before {
  content: "\e9b4";
}
.icon-cloud-upload-solid:before {
  content: "\e9b5";
}
.icon-cloud-upload:before {
  content: "\e9b6";
}
.icon-cloud:before {
  content: "\e9b7";
}
.icon-cookies:before {
  content: "\e9b8";
}
.icon-document-search-solid:before {
  content: "\e9b9";
}
.icon-document-search:before {
  content: "\e9ba";
}
.icon-document-text-solid:before {
  content: "\e9bb";
}
.icon-document-text:before {
  content: "\e9bc";
}
.icon-double-chevron-left:before {
  content: "\e9bd";
}
.icon-double-chevron-right:before {
  content: "\e9be";
}
.icon-emoji-happy:before {
  content: "\e9bf";
}
.icon-excellence:before {
  content: "\e9c0";
}
.icon-exclamation-circle-solid:before {
  content: "\e9c1";
}
.icon-exclamation-circle:before {
  content: "\e9c2";
}
.icon-exclamation-solid:before {
  content: "\e9c3";
}
.icon-exclamation:before {
  content: "\e9c4";
}
.icon-external-link-solid:before {
  content: "\e9c5";
}
.icon-external-link:before {
  content: "\e9c6";
}
.icon-eye-off-solid:before {
  content: "\e9c7";
}
.icon-eye-off:before {
  content: "\e9c8";
}
.icon-eye-solid:before {
  content: "\e9c9";
}
.icon-eye:before {
  content: "\e9ca";
}
.icon-file-excel:before {
  content: "\e9cb";
}
.icon-file-text-light:before {
  content: "\e9cc";
}
.icon-file-text:before {
  content: "\e9cd";
}
.icon-home-solid:before {
  content: "\e9ce";
}
.icon-home:before {
  content: "\e9cf";
}
.icon-mail-open:before {
  content: "\e9d0";
}
.icon-mail-solid:before {
  content: "\e9d1";
}
.icon-mail-to:before {
  content: "\e9d2";
}
.icon-mail:before {
  content: "\e9d3";
}
.icon-minus-circle-solid:before {
  content: "\e9d4";
}
.icon-minus-circle:before {
  content: "\e9d5";
}
.icon-minus:before {
  content: "\e9d6";
}
.icon-plus-circle-solid:before {
  content: "\e9d7";
}
.icon-plus-circle:before {
  content: "\e9d8";
}
.icon-plus:before {
  content: "\e9d9";
}
.icon-question-mark-circle-solid:before {
  content: "\e9da";
}
.icon-question-mark-circle:before {
  content: "\e9db";
}
.icon-quote-left:before {
  content: "\e9dc";
}
.icon-quote-right:before {
  content: "\e9dd";
}
.icon-search-bolder:before {
  content: "\e9de";
}
.icon-search-light-spaced:before {
  content: "\e9df";
}
.icon-search-lightest:before {
  content: "\e9e0";
}
.icon-search-spaced:before {
  content: "\e9e1";
}
.icon-search:before {
  content: "\e9e2";
}
.icon-shield-check-solid:before {
  content: "\e9e3";
}
.icon-shield-check:before {
  content: "\e9e4";
}
.icon-shield-exclamation-solid:before {
  content: "\e9e5";
}
.icon-shield-exclamation:before {
  content: "\e9e6";
}
.icon-trash-solid:before {
  content: "\e9e7";
}
.icon-trash:before {
  content: "\e9e8";
}
.icon-upload-solid:before {
  content: "\e9e9";
}
.icon-upload:before {
  content: "\e9ea";
}
.icon-user-add-solid:before {
  content: "\e9eb";
}
.icon-user-add:before {
  content: "\e9ec";
}
.icon-user-circle-solid:before {
  content: "\e9ed";
}
.icon-user-circle:before {
  content: "\e9ee";
}
.icon-user-group-solid:before {
  content: "\e9ef";
}
.icon-user-group:before {
  content: "\e9f0";
}
.icon-user-light:before {
  content: "\e9f1";
}
.icon-user-remove-solid:before {
  content: "\e9f2";
}
.icon-user-remove:before {
  content: "\e9f3";
}
.icon-user-solid:before {
  content: "\e9f4";
}
.icon-user:before {
  content: "\e9f5";
}
.icon-users-solid:before {
  content: "\e9f6";
}
.icon-users:before {
  content: "\e9f7";
}
.icon-x-circle-solid:before {
  content: "\e9f8";
}
.icon-x-circle:before {
  content: "\e9f9";
}
.icon-x-solid:before {
  content: "\e9fa";
}
.icon-x:before {
  content: "\e9fb";
}
.icon-emoji-happy1:before {
  content: "\e9fc";
}
.icon-double-chevron-left1:before {
  content: "\e906";
}
.icon-double-chevron-right1:before {
  content: "\e909";
}
.icon-cookies1:before {
  content: "\e905";
}
.icon-user1:before {
  content: "\e900";
}
.icon-enter:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-close-circle:before {
  content: "\e907";
}
.icon-close-spaced:before {
  content: "\e908";
}
.icon-chevron-right1:before {
  content: "\e912";
}
.icon-chevron-left1:before {
  content: "\e913";
}
.icon-chevron-right-circle1:before {
  content: "\e914";
}
.icon-arrow-preview:before {
  content: "\e915";
}
.icon-arrow-right--circle1:before {
  content: "\e916";
}
.icon-arrow-left--circle1:before {
  content: "\e917";
}
.icon-arrow-right1:before {
  content: "\e918";
}
.icon-arrow-left1:before {
  content: "\e919";
}
.icon-arrow-up:before {
  content: "\e93d";
}
.icon-arrow-down:before {
  content: "\e93f";
}
.icon-search1:before {
  content: "\e91a";
}
.icon-search-bolder1:before {
  content: "\e91b";
}
.icon-at:before {
  content: "\e91c";
}
.icon-search-spaced1:before {
  content: "\e91d";
}
.icon-search-light-spaced1:before {
  content: "\e91e";
}
.icon-search-lightest1:before {
  content: "\e91f";
}
.icon-behance:before {
  content: "\e920";
}
.icon-blogger:before {
  content: "\e921";
}
.icon-dailymotion:before {
  content: "\e922";
}
.icon-dribbble:before {
  content: "\e923";
}
.icon-drive:before {
  content: "\e924";
}
.icon-dropbox:before {
  content: "\e925";
}
.icon-drupal:before {
  content: "\e926";
}
.icon-evernote:before {
  content: "\e927";
}
.icon-facebook:before {
  content: "\e928";
}
.icon-github:before {
  content: "\e929";
}
.icon-googleplus:before {
  content: "\e92a";
}
.icon-hangouts:before {
  content: "\e92b";
}
.icon-instagram:before {
  content: "\e92c";
}
.icon-linkedin:before {
  content: "\e92d";
}
.icon-messenger:before {
  content: "\e92e";
}
.icon-pinterest:before {
  content: "\e92f";
}
.icon-pocket:before {
  content: "\e930";
}
.icon-rss:before {
  content: "\e931";
}
.icon-snapchat:before {
  content: "\e932";
}
.icon-souncloud:before {
  content: "\e933";
}
.icon-spotify:before {
  content: "\e934";
}
.icon-tumblr:before {
  content: "\e935";
}
.icon-twitter:before {
  content: "\e936";
}
.icon-vimeo:before {
  content: "\e937";
}
.icon-whatsapp:before {
  content: "\e938";
}
.icon-youtube:before {
  content: "\e939";
}
.icon-burger-menu-bolder:before {
  content: "\e93a";
}
.icon-burger-menu:before {
  content: "\e93b";
}
.icon-lock:before {
  content: "\e93c";
}
.icon-burger-menu-narrow:before {
  content: "\e93e";
}
.icon-burger-menu-narrow-bold-flat:before {
  content: "\e941";
}
.icon-burger-menu-thin:before {
  content: "\e942";
}
.icon-burger-menu-lighter:before {
  content: "\e943";
}
.icon-download:before {
  content: "\e944";
}
.icon-check-circle1:before {
  content: "\e945";
}
.icon-caret-down:before {
  content: "\e946";
}
.icon-caret-left1:before {
  content: "\e947";
}
.icon-caret-right1:before {
  content: "\e948";
}
.icon-caret-up:before {
  content: "\e949";
}
.icon-camera:before {
  content: "\e94a";
}
.icon-picture:before {
  content: "\e94b";
}
.icon-file-code:before {
  content: "\e94e";
}
.icon-file-excel1:before {
  content: "\e94f";
}
.icon-file:before {
  content: "\e952";
}
.icon-file-pdf:before {
  content: "\e953";
}
.icon-file-picture:before {
  content: "\e955";
}
.icon-file-powerpoint:before {
  content: "\e956";
}
.icon-file-sound:before {
  content: "\e957";
}
.icon-file-text-light1:before {
  content: "\e958";
}
.icon-file-text1:before {
  content: "\e959";
}
.icon-file-video:before {
  content: "\e95a";
}
.icon-file-word:before {
  content: "\e95b";
}
.icon-file-zip:before {
  content: "\e95c";
}
.icon-file1:before {
  content: "\e95d";
}
.icon-files:before {
  content: "\e95e";
}
.icon-email:before {
  content: "\e95f";
}
.icon-envelope:before {
  content: "\e960";
}
.icon-video-camera:before {
  content: "\e961";
}
.icon-photo-camera:before {
  content: "\e962";
}
.icon-calendar:before {
  content: "\e963";
}
.icon-control-panel:before {
  content: "\e964";
}
.icon-download-v2:before {
  content: "\e965";
}
.icon-comment:before {
  content: "\e966";
}
.icon-forum:before {
  content: "\e967";
}
.icon-paper-clip:before {
  content: "\e968";
}
.icon-quote-right1:before {
  content: "\e969";
}
.icon-quote-left1:before {
  content: "\e96a";
}
.icon-cloud-download1:before {
  content: "\e96b";
}
.icon-arrow-back:before {
  content: "\e96c";
}
.icon-arrow-forward:before {
  content: "\e96d";
}
.icon-google-plusone:before {
  content: "\e96e";
}
.icon-play:before {
  content: "\e96f";
}
.icon-pattern:before {
  content: "\e970";
}
.icon-user-light1:before {
  content: "\e971";
}
.icon-timer:before {
  content: "\e972";
}
.icon-half-star:before {
  content: "\e973";
}
.icon-like:before {
  content: "\e974";
}
.icon-favorite-star:before {
  content: "\e975";
}
.icon-calendar-v2:before {
  content: "\e977";
}
.icon-chat:before {
  content: "\e979";
}
.icon-chevrons-down1:before {
  content: "\e97a";
}
.icon-clic:before {
  content: "\e97b";
}
.icon-doctor:before {
  content: "\e97d";
}
.icon-excellence1:before {
  content: "\e97e";
}
.icon-eye1:before {
  content: "\e97f";
}
.icon-fax:before {
  content: "\e980";
}
.icon-itineraire:before {
  content: "\e981";
}
.icon-external-link1:before {
  content: "\e982";
}
.icon-locator:before {
  content: "\e983";
}
.icon-locator-v2:before {
  content: "\e984";
}
.icon-mail-to1:before {
  content: "\e985";
}
.icon-menu:before {
  content: "\e987";
}
.icon-less:before {
  content: "\e988";
}
.icon-gps:before {
  content: "\e989";
}
.icon-payment:before {
  content: "\e98a";
}
.icon-more:before {
  content: "\e98d";
}
.icon-urgency:before {
  content: "\e98e";
}
.icon-visio:before {
  content: "\e98f";
}
.icon-check1:before {
  content: "\e991";
}
.icon-close-bold:before {
  content: "\e992";
}
.icon-download-v3:before {
  content: "\e993";
}
.icon-scroll:before {
  content: "\e994";
}
.icon-facebook-carre:before {
  content: "\e976";
}
