@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xs0w7x');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xs0w7x#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?xs0w7x') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?xs0w7x') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?xs0w7x##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-circle-left-solid {
  &:before {
    content: $icon-arrow-circle-left-solid; 
  }
}
.icon-arrow-circle-left {
  &:before {
    content: $icon-arrow-circle-left; 
  }
}
.icon-arrow-circle-right-solid {
  &:before {
    content: $icon-arrow-circle-right-solid; 
  }
}
.icon-arrow-circle-right {
  &:before {
    content: $icon-arrow-circle-right; 
  }
}
.icon-arrow-left--circle {
  &:before {
    content: $icon-arrow-left--circle; 
  }
}
.icon-arrow-left-solid {
  &:before {
    content: $icon-arrow-left-solid; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-narrow-left-solid {
  &:before {
    content: $icon-arrow-narrow-left-solid; 
  }
}
.icon-arrow-narrow-left {
  &:before {
    content: $icon-arrow-narrow-left; 
  }
}
.icon-arrow-narrow-right-solid {
  &:before {
    content: $icon-arrow-narrow-right-solid; 
  }
}
.icon-arrow-narrow-right {
  &:before {
    content: $icon-arrow-narrow-right; 
  }
}
.icon-arrow-right--circle {
  &:before {
    content: $icon-arrow-right--circle; 
  }
}
.icon-arrow-right-solid {
  &:before {
    content: $icon-arrow-right-solid; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-sm-left-solid {
  &:before {
    content: $icon-arrow-sm-left-solid; 
  }
}
.icon-arrow-sm-left {
  &:before {
    content: $icon-arrow-sm-left; 
  }
}
.icon-arrow-sm-right-solid {
  &:before {
    content: $icon-arrow-sm-right-solid; 
  }
}
.icon-arrow-sm-right {
  &:before {
    content: $icon-arrow-sm-right; 
  }
}
.icon-arrows-expand-solid {
  &:before {
    content: $icon-arrows-expand-solid; 
  }
}
.icon-arrows-expand {
  &:before {
    content: $icon-arrows-expand; 
  }
}
.icon-badge-check-solid {
  &:before {
    content: $icon-badge-check-solid; 
  }
}
.icon-badge-check {
  &:before {
    content: $icon-badge-check; 
  }
}
.icon-call-center {
  &:before {
    content: $icon-call-center; 
  }
}
.icon-caret-left {
  &:before {
    content: $icon-caret-left; 
  }
}
.icon-caret-right {
  &:before {
    content: $icon-caret-right; 
  }
}
.icon-check-circle-solid {
  &:before {
    content: $icon-check-circle-solid; 
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle; 
  }
}
.icon-check-solid {
  &:before {
    content: $icon-check-solid; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-chevron-double-down-solid {
  &:before {
    content: $icon-chevron-double-down-solid; 
  }
}
.icon-chevron-double-down {
  &:before {
    content: $icon-chevron-double-down; 
  }
}
.icon-chevron-double-left-solid {
  &:before {
    content: $icon-chevron-double-left-solid; 
  }
}
.icon-chevron-double-left {
  &:before {
    content: $icon-chevron-double-left; 
  }
}
.icon-chevron-double-right-solid {
  &:before {
    content: $icon-chevron-double-right-solid; 
  }
}
.icon-chevron-double-right {
  &:before {
    content: $icon-chevron-double-right; 
  }
}
.icon-chevron-double-up-solid {
  &:before {
    content: $icon-chevron-double-up-solid; 
  }
}
.icon-chevron-double-up {
  &:before {
    content: $icon-chevron-double-up; 
  }
}
.icon-chevron-down-solid {
  &:before {
    content: $icon-chevron-down-solid; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-left-solid {
  &:before {
    content: $icon-chevron-left-solid; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right-circle {
  &:before {
    content: $icon-chevron-right-circle; 
  }
}
.icon-chevron-right-solid {
  &:before {
    content: $icon-chevron-right-solid; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up-solid {
  &:before {
    content: $icon-chevron-up-solid; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-chevrons-down {
  &:before {
    content: $icon-chevrons-down; 
  }
}
.icon-clipboard-check-solid {
  &:before {
    content: $icon-clipboard-check-solid; 
  }
}
.icon-clipboard-check {
  &:before {
    content: $icon-clipboard-check; 
  }
}
.icon-cloud-download-solid {
  &:before {
    content: $icon-cloud-download-solid; 
  }
}
.icon-cloud-download {
  &:before {
    content: $icon-cloud-download; 
  }
}
.icon-cloud-solid {
  &:before {
    content: $icon-cloud-solid; 
  }
}
.icon-cloud-upload-solid {
  &:before {
    content: $icon-cloud-upload-solid; 
  }
}
.icon-cloud-upload {
  &:before {
    content: $icon-cloud-upload; 
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud; 
  }
}
.icon-cookies {
  &:before {
    content: $icon-cookies; 
  }
}
.icon-document-search-solid {
  &:before {
    content: $icon-document-search-solid; 
  }
}
.icon-document-search {
  &:before {
    content: $icon-document-search; 
  }
}
.icon-document-text-solid {
  &:before {
    content: $icon-document-text-solid; 
  }
}
.icon-document-text {
  &:before {
    content: $icon-document-text; 
  }
}
.icon-double-chevron-left {
  &:before {
    content: $icon-double-chevron-left; 
  }
}
.icon-double-chevron-right {
  &:before {
    content: $icon-double-chevron-right; 
  }
}
.icon-emoji-happy {
  &:before {
    content: $icon-emoji-happy; 
  }
}
.icon-excellence {
  &:before {
    content: $icon-excellence; 
  }
}
.icon-exclamation-circle-solid {
  &:before {
    content: $icon-exclamation-circle-solid; 
  }
}
.icon-exclamation-circle {
  &:before {
    content: $icon-exclamation-circle; 
  }
}
.icon-exclamation-solid {
  &:before {
    content: $icon-exclamation-solid; 
  }
}
.icon-exclamation {
  &:before {
    content: $icon-exclamation; 
  }
}
.icon-external-link-solid {
  &:before {
    content: $icon-external-link-solid; 
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link; 
  }
}
.icon-eye-off-solid {
  &:before {
    content: $icon-eye-off-solid; 
  }
}
.icon-eye-off {
  &:before {
    content: $icon-eye-off; 
  }
}
.icon-eye-solid {
  &:before {
    content: $icon-eye-solid; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-file-excel {
  &:before {
    content: $icon-file-excel; 
  }
}
.icon-file-text-light {
  &:before {
    content: $icon-file-text-light; 
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text; 
  }
}
.icon-home-solid {
  &:before {
    content: $icon-home-solid; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-mail-open {
  &:before {
    content: $icon-mail-open; 
  }
}
.icon-mail-solid {
  &:before {
    content: $icon-mail-solid; 
  }
}
.icon-mail-to {
  &:before {
    content: $icon-mail-to; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-minus-circle-solid {
  &:before {
    content: $icon-minus-circle-solid; 
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-plus-circle-solid {
  &:before {
    content: $icon-plus-circle-solid; 
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-question-mark-circle-solid {
  &:before {
    content: $icon-question-mark-circle-solid; 
  }
}
.icon-question-mark-circle {
  &:before {
    content: $icon-question-mark-circle; 
  }
}
.icon-quote-left {
  &:before {
    content: $icon-quote-left; 
  }
}
.icon-quote-right {
  &:before {
    content: $icon-quote-right; 
  }
}
.icon-search-bolder {
  &:before {
    content: $icon-search-bolder; 
  }
}
.icon-search-light-spaced {
  &:before {
    content: $icon-search-light-spaced; 
  }
}
.icon-search-lightest {
  &:before {
    content: $icon-search-lightest; 
  }
}
.icon-search-spaced {
  &:before {
    content: $icon-search-spaced; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-shield-check-solid {
  &:before {
    content: $icon-shield-check-solid; 
  }
}
.icon-shield-check {
  &:before {
    content: $icon-shield-check; 
  }
}
.icon-shield-exclamation-solid {
  &:before {
    content: $icon-shield-exclamation-solid; 
  }
}
.icon-shield-exclamation {
  &:before {
    content: $icon-shield-exclamation; 
  }
}
.icon-trash-solid {
  &:before {
    content: $icon-trash-solid; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-upload-solid {
  &:before {
    content: $icon-upload-solid; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-user-add-solid {
  &:before {
    content: $icon-user-add-solid; 
  }
}
.icon-user-add {
  &:before {
    content: $icon-user-add; 
  }
}
.icon-user-circle-solid {
  &:before {
    content: $icon-user-circle-solid; 
  }
}
.icon-user-circle {
  &:before {
    content: $icon-user-circle; 
  }
}
.icon-user-group-solid {
  &:before {
    content: $icon-user-group-solid; 
  }
}
.icon-user-group {
  &:before {
    content: $icon-user-group; 
  }
}
.icon-user-light {
  &:before {
    content: $icon-user-light; 
  }
}
.icon-user-remove-solid {
  &:before {
    content: $icon-user-remove-solid; 
  }
}
.icon-user-remove {
  &:before {
    content: $icon-user-remove; 
  }
}
.icon-user-solid {
  &:before {
    content: $icon-user-solid; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-users-solid {
  &:before {
    content: $icon-users-solid; 
  }
}
.icon-users {
  &:before {
    content: $icon-users; 
  }
}
.icon-x-circle-solid {
  &:before {
    content: $icon-x-circle-solid; 
  }
}
.icon-x-circle {
  &:before {
    content: $icon-x-circle; 
  }
}
.icon-x-solid {
  &:before {
    content: $icon-x-solid; 
  }
}
.icon-x {
  &:before {
    content: $icon-x; 
  }
}
.icon-emoji-happy1 {
  &:before {
    content: $icon-emoji-happy1; 
  }
}
.icon-double-chevron-left1 {
  &:before {
    content: $icon-double-chevron-left1; 
  }
}
.icon-double-chevron-right1 {
  &:before {
    content: $icon-double-chevron-right1; 
  }
}
.icon-cookies1 {
  &:before {
    content: $icon-cookies1; 
  }
}
.icon-user1 {
  &:before {
    content: $icon-user1; 
  }
}
.icon-enter {
  &:before {
    content: $icon-enter; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-close-circle {
  &:before {
    content: $icon-close-circle; 
  }
}
.icon-close-spaced {
  &:before {
    content: $icon-close-spaced; 
  }
}
.icon-chevron-right1 {
  &:before {
    content: $icon-chevron-right1; 
  }
}
.icon-chevron-left1 {
  &:before {
    content: $icon-chevron-left1; 
  }
}
.icon-chevron-right-circle1 {
  &:before {
    content: $icon-chevron-right-circle1; 
  }
}
.icon-arrow-preview {
  &:before {
    content: $icon-arrow-preview; 
  }
}
.icon-arrow-right--circle1 {
  &:before {
    content: $icon-arrow-right--circle1; 
  }
}
.icon-arrow-left--circle1 {
  &:before {
    content: $icon-arrow-left--circle1; 
  }
}
.icon-arrow-right1 {
  &:before {
    content: $icon-arrow-right1; 
  }
}
.icon-arrow-left1 {
  &:before {
    content: $icon-arrow-left1; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-search1 {
  &:before {
    content: $icon-search1; 
  }
}
.icon-search-bolder1 {
  &:before {
    content: $icon-search-bolder1; 
  }
}
.icon-at {
  &:before {
    content: $icon-at; 
  }
}
.icon-search-spaced1 {
  &:before {
    content: $icon-search-spaced1; 
  }
}
.icon-search-light-spaced1 {
  &:before {
    content: $icon-search-light-spaced1; 
  }
}
.icon-search-lightest1 {
  &:before {
    content: $icon-search-lightest1; 
  }
}
.icon-behance {
  &:before {
    content: $icon-behance; 
  }
}
.icon-blogger {
  &:before {
    content: $icon-blogger; 
  }
}
.icon-dailymotion {
  &:before {
    content: $icon-dailymotion; 
  }
}
.icon-dribbble {
  &:before {
    content: $icon-dribbble; 
  }
}
.icon-drive {
  &:before {
    content: $icon-drive; 
  }
}
.icon-dropbox {
  &:before {
    content: $icon-dropbox; 
  }
}
.icon-drupal {
  &:before {
    content: $icon-drupal; 
  }
}
.icon-evernote {
  &:before {
    content: $icon-evernote; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-googleplus {
  &:before {
    content: $icon-googleplus; 
  }
}
.icon-hangouts {
  &:before {
    content: $icon-hangouts; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-messenger {
  &:before {
    content: $icon-messenger; 
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest; 
  }
}
.icon-pocket {
  &:before {
    content: $icon-pocket; 
  }
}
.icon-rss {
  &:before {
    content: $icon-rss; 
  }
}
.icon-snapchat {
  &:before {
    content: $icon-snapchat; 
  }
}
.icon-souncloud {
  &:before {
    content: $icon-souncloud; 
  }
}
.icon-spotify {
  &:before {
    content: $icon-spotify; 
  }
}
.icon-tumblr {
  &:before {
    content: $icon-tumblr; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-vimeo {
  &:before {
    content: $icon-vimeo; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-burger-menu-bolder {
  &:before {
    content: $icon-burger-menu-bolder; 
  }
}
.icon-burger-menu {
  &:before {
    content: $icon-burger-menu; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-burger-menu-narrow {
  &:before {
    content: $icon-burger-menu-narrow; 
  }
}
.icon-burger-menu-narrow-bold-flat {
  &:before {
    content: $icon-burger-menu-narrow-bold-flat; 
  }
}
.icon-burger-menu-thin {
  &:before {
    content: $icon-burger-menu-thin; 
  }
}
.icon-burger-menu-lighter {
  &:before {
    content: $icon-burger-menu-lighter; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-check-circle1 {
  &:before {
    content: $icon-check-circle1; 
  }
}
.icon-caret-down {
  &:before {
    content: $icon-caret-down; 
  }
}
.icon-caret-left1 {
  &:before {
    content: $icon-caret-left1; 
  }
}
.icon-caret-right1 {
  &:before {
    content: $icon-caret-right1; 
  }
}
.icon-caret-up {
  &:before {
    content: $icon-caret-up; 
  }
}
.icon-camera {
  &:before {
    content: $icon-camera; 
  }
}
.icon-picture {
  &:before {
    content: $icon-picture; 
  }
}
.icon-file-code {
  &:before {
    content: $icon-file-code; 
  }
}
.icon-file-excel1 {
  &:before {
    content: $icon-file-excel1; 
  }
}
.icon-file {
  &:before {
    content: $icon-file; 
  }
}
.icon-file-pdf {
  &:before {
    content: $icon-file-pdf; 
  }
}
.icon-file-picture {
  &:before {
    content: $icon-file-picture; 
  }
}
.icon-file-powerpoint {
  &:before {
    content: $icon-file-powerpoint; 
  }
}
.icon-file-sound {
  &:before {
    content: $icon-file-sound; 
  }
}
.icon-file-text-light1 {
  &:before {
    content: $icon-file-text-light1; 
  }
}
.icon-file-text1 {
  &:before {
    content: $icon-file-text1; 
  }
}
.icon-file-video {
  &:before {
    content: $icon-file-video; 
  }
}
.icon-file-word {
  &:before {
    content: $icon-file-word; 
  }
}
.icon-file-zip {
  &:before {
    content: $icon-file-zip; 
  }
}
.icon-file1 {
  &:before {
    content: $icon-file1; 
  }
}
.icon-files {
  &:before {
    content: $icon-files; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-video-camera {
  &:before {
    content: $icon-video-camera; 
  }
}
.icon-photo-camera {
  &:before {
    content: $icon-photo-camera; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-control-panel {
  &:before {
    content: $icon-control-panel; 
  }
}
.icon-download-v2 {
  &:before {
    content: $icon-download-v2; 
  }
}
.icon-comment {
  &:before {
    content: $icon-comment; 
  }
}
.icon-forum {
  &:before {
    content: $icon-forum; 
  }
}
.icon-paper-clip {
  &:before {
    content: $icon-paper-clip; 
  }
}
.icon-quote-right1 {
  &:before {
    content: $icon-quote-right1; 
  }
}
.icon-quote-left1 {
  &:before {
    content: $icon-quote-left1; 
  }
}
.icon-cloud-download1 {
  &:before {
    content: $icon-cloud-download1; 
  }
}
.icon-arrow-back {
  &:before {
    content: $icon-arrow-back; 
  }
}
.icon-arrow-forward {
  &:before {
    content: $icon-arrow-forward; 
  }
}
.icon-google-plusone {
  &:before {
    content: $icon-google-plusone; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-pattern {
  &:before {
    content: $icon-pattern; 
  }
}
.icon-user-light1 {
  &:before {
    content: $icon-user-light1; 
  }
}
.icon-timer {
  &:before {
    content: $icon-timer; 
  }
}
.icon-half-star {
  &:before {
    content: $icon-half-star; 
  }
}
.icon-like {
  &:before {
    content: $icon-like; 
  }
}
.icon-favorite-star {
  &:before {
    content: $icon-favorite-star; 
  }
}
.icon-calendar-v2 {
  &:before {
    content: $icon-calendar-v2; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-chevrons-down1 {
  &:before {
    content: $icon-chevrons-down1; 
  }
}
.icon-clic {
  &:before {
    content: $icon-clic; 
  }
}
.icon-doctor {
  &:before {
    content: $icon-doctor; 
  }
}
.icon-excellence1 {
  &:before {
    content: $icon-excellence1; 
  }
}
.icon-eye1 {
  &:before {
    content: $icon-eye1; 
  }
}
.icon-fax {
  &:before {
    content: $icon-fax; 
  }
}
.icon-itineraire {
  &:before {
    content: $icon-itineraire; 
  }
}
.icon-external-link1 {
  &:before {
    content: $icon-external-link1; 
  }
}
.icon-locator {
  &:before {
    content: $icon-locator; 
  }
}
.icon-locator-v2 {
  &:before {
    content: $icon-locator-v2; 
  }
}
.icon-mail-to1 {
  &:before {
    content: $icon-mail-to1; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-less {
  &:before {
    content: $icon-less; 
  }
}
.icon-gps {
  &:before {
    content: $icon-gps; 
  }
}
.icon-payment {
  &:before {
    content: $icon-payment; 
  }
}
.icon-more {
  &:before {
    content: $icon-more; 
  }
}
.icon-urgency {
  &:before {
    content: $icon-urgency; 
  }
}
.icon-visio {
  &:before {
    content: $icon-visio; 
  }
}
.icon-check1 {
  &:before {
    content: $icon-check1; 
  }
}
.icon-close-bold {
  &:before {
    content: $icon-close-bold; 
  }
}
.icon-download-v3 {
  &:before {
    content: $icon-download-v3; 
  }
}
.icon-scroll {
  &:before {
    content: $icon-scroll; 
  }
}
.icon-facebook-carre {
  &:before {
    content: $icon-facebook-carre; 
  }
}

