$icomoon-font-family: "vactory" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-circle-left-solid: "\e90a";
$icon-arrow-circle-left: "\e90b";
$icon-arrow-circle-right-solid: "\e90c";
$icon-arrow-circle-right: "\e90d";
$icon-arrow-left--circle: "\e90e";
$icon-arrow-left-solid: "\e90f";
$icon-arrow-left: "\e910";
$icon-arrow-narrow-left-solid: "\e911";
$icon-arrow-narrow-left: "\e940";
$icon-arrow-narrow-right-solid: "\e94c";
$icon-arrow-narrow-right: "\e94d";
$icon-arrow-right--circle: "\e950";
$icon-arrow-right-solid: "\e951";
$icon-arrow-right: "\e954";
$icon-arrow-sm-left-solid: "\e978";
$icon-arrow-sm-left: "\e97c";
$icon-arrow-sm-right-solid: "\e986";
$icon-arrow-sm-right: "\e98b";
$icon-arrows-expand-solid: "\e98c";
$icon-arrows-expand: "\e990";
$icon-badge-check-solid: "\e995";
$icon-badge-check: "\e996";
$icon-call-center: "\e997";
$icon-caret-left: "\e998";
$icon-caret-right: "\e999";
$icon-check-circle-solid: "\e99a";
$icon-check-circle: "\e99b";
$icon-check-solid: "\e99c";
$icon-check: "\e99d";
$icon-chevron-double-down-solid: "\e99e";
$icon-chevron-double-down: "\e99f";
$icon-chevron-double-left-solid: "\e9a0";
$icon-chevron-double-left: "\e9a1";
$icon-chevron-double-right-solid: "\e9a2";
$icon-chevron-double-right: "\e9a3";
$icon-chevron-double-up-solid: "\e9a4";
$icon-chevron-double-up: "\e9a5";
$icon-chevron-down-solid: "\e9a6";
$icon-chevron-down: "\e9a7";
$icon-chevron-left-solid: "\e9a8";
$icon-chevron-left: "\e9a9";
$icon-chevron-right-circle: "\e9aa";
$icon-chevron-right-solid: "\e9ab";
$icon-chevron-right: "\e9ac";
$icon-chevron-up-solid: "\e9ad";
$icon-chevron-up: "\e9ae";
$icon-chevrons-down: "\e9af";
$icon-clipboard-check-solid: "\e9b0";
$icon-clipboard-check: "\e9b1";
$icon-cloud-download-solid: "\e9b2";
$icon-cloud-download: "\e9b3";
$icon-cloud-solid: "\e9b4";
$icon-cloud-upload-solid: "\e9b5";
$icon-cloud-upload: "\e9b6";
$icon-cloud: "\e9b7";
$icon-cookies: "\e9b8";
$icon-document-search-solid: "\e9b9";
$icon-document-search: "\e9ba";
$icon-document-text-solid: "\e9bb";
$icon-document-text: "\e9bc";
$icon-double-chevron-left: "\e9bd";
$icon-double-chevron-right: "\e9be";
$icon-emoji-happy: "\e9bf";
$icon-excellence: "\e9c0";
$icon-exclamation-circle-solid: "\e9c1";
$icon-exclamation-circle: "\e9c2";
$icon-exclamation-solid: "\e9c3";
$icon-exclamation: "\e9c4";
$icon-external-link-solid: "\e9c5";
$icon-external-link: "\e9c6";
$icon-eye-off-solid: "\e9c7";
$icon-eye-off: "\e9c8";
$icon-eye-solid: "\e9c9";
$icon-eye: "\e9ca";
$icon-file-excel: "\e9cb";
$icon-file-text-light: "\e9cc";
$icon-file-text: "\e9cd";
$icon-home-solid: "\e9ce";
$icon-home: "\e9cf";
$icon-mail-open: "\e9d0";
$icon-mail-solid: "\e9d1";
$icon-mail-to: "\e9d2";
$icon-mail: "\e9d3";
$icon-minus-circle-solid: "\e9d4";
$icon-minus-circle: "\e9d5";
$icon-minus: "\e9d6";
$icon-plus-circle-solid: "\e9d7";
$icon-plus-circle: "\e9d8";
$icon-plus: "\e9d9";
$icon-question-mark-circle-solid: "\e9da";
$icon-question-mark-circle: "\e9db";
$icon-quote-left: "\e9dc";
$icon-quote-right: "\e9dd";
$icon-search-bolder: "\e9de";
$icon-search-light-spaced: "\e9df";
$icon-search-lightest: "\e9e0";
$icon-search-spaced: "\e9e1";
$icon-search: "\e9e2";
$icon-shield-check-solid: "\e9e3";
$icon-shield-check: "\e9e4";
$icon-shield-exclamation-solid: "\e9e5";
$icon-shield-exclamation: "\e9e6";
$icon-trash-solid: "\e9e7";
$icon-trash: "\e9e8";
$icon-upload-solid: "\e9e9";
$icon-upload: "\e9ea";
$icon-user-add-solid: "\e9eb";
$icon-user-add: "\e9ec";
$icon-user-circle-solid: "\e9ed";
$icon-user-circle: "\e9ee";
$icon-user-group-solid: "\e9ef";
$icon-user-group: "\e9f0";
$icon-user-light: "\e9f1";
$icon-user-remove-solid: "\e9f2";
$icon-user-remove: "\e9f3";
$icon-user-solid: "\e9f4";
$icon-user: "\e9f5";
$icon-users-solid: "\e9f6";
$icon-users: "\e9f7";
$icon-x-circle-solid: "\e9f8";
$icon-x-circle: "\e9f9";
$icon-x-solid: "\e9fa";
$icon-x: "\e9fb";
$icon-emoji-happy1: "\e9fc";
$icon-double-chevron-left1: "\e906";
$icon-double-chevron-right1: "\e909";
$icon-cookies1: "\e905";
$icon-user1: "\e900";
$icon-enter: "\e901";
$icon-phone: "\e902";
$icon-heart: "\e903";
$icon-close: "\e904";
$icon-close-circle: "\e907";
$icon-close-spaced: "\e908";
$icon-chevron-right1: "\e912";
$icon-chevron-left1: "\e913";
$icon-chevron-right-circle1: "\e914";
$icon-arrow-preview: "\e915";
$icon-arrow-right--circle1: "\e916";
$icon-arrow-left--circle1: "\e917";
$icon-arrow-right1: "\e918";
$icon-arrow-left1: "\e919";
$icon-arrow-up: "\e93d";
$icon-arrow-down: "\e93f";
$icon-search1: "\e91a";
$icon-search-bolder1: "\e91b";
$icon-at: "\e91c";
$icon-search-spaced1: "\e91d";
$icon-search-light-spaced1: "\e91e";
$icon-search-lightest1: "\e91f";
$icon-behance: "\e920";
$icon-blogger: "\e921";
$icon-dailymotion: "\e922";
$icon-dribbble: "\e923";
$icon-drive: "\e924";
$icon-dropbox: "\e925";
$icon-drupal: "\e926";
$icon-evernote: "\e927";
$icon-facebook: "\e928";
$icon-github: "\e929";
$icon-googleplus: "\e92a";
$icon-hangouts: "\e92b";
$icon-instagram: "\e92c";
$icon-linkedin: "\e92d";
$icon-messenger: "\e92e";
$icon-pinterest: "\e92f";
$icon-pocket: "\e930";
$icon-rss: "\e931";
$icon-snapchat: "\e932";
$icon-souncloud: "\e933";
$icon-spotify: "\e934";
$icon-tumblr: "\e935";
$icon-twitter: "\e936";
$icon-vimeo: "\e937";
$icon-whatsapp: "\e938";
$icon-youtube: "\e939";
$icon-burger-menu-bolder: "\e93a";
$icon-burger-menu: "\e93b";
$icon-lock: "\e93c";
$icon-burger-menu-narrow: "\e93e";
$icon-burger-menu-narrow-bold-flat: "\e941";
$icon-burger-menu-thin: "\e942";
$icon-burger-menu-lighter: "\e943";
$icon-download: "\e944";
$icon-check-circle1: "\e945";
$icon-caret-down: "\e946";
$icon-caret-left1: "\e947";
$icon-caret-right1: "\e948";
$icon-caret-up: "\e949";
$icon-camera: "\e94a";
$icon-picture: "\e94b";
$icon-file-code: "\e94e";
$icon-file-excel1: "\e94f";
$icon-file: "\e952";
$icon-file-pdf: "\e953";
$icon-file-picture: "\e955";
$icon-file-powerpoint: "\e956";
$icon-file-sound: "\e957";
$icon-file-text-light1: "\e958";
$icon-file-text1: "\e959";
$icon-file-video: "\e95a";
$icon-file-word: "\e95b";
$icon-file-zip: "\e95c";
$icon-file1: "\e95d";
$icon-files: "\e95e";
$icon-email: "\e95f";
$icon-envelope: "\e960";
$icon-video-camera: "\e961";
$icon-photo-camera: "\e962";
$icon-calendar: "\e963";
$icon-control-panel: "\e964";
$icon-download-v2: "\e965";
$icon-comment: "\e966";
$icon-forum: "\e967";
$icon-paper-clip: "\e968";
$icon-quote-right1: "\e969";
$icon-quote-left1: "\e96a";
$icon-cloud-download1: "\e96b";
$icon-arrow-back: "\e96c";
$icon-arrow-forward: "\e96d";
$icon-google-plusone: "\e96e";
$icon-play: "\e96f";
$icon-pattern: "\e970";
$icon-user-light1: "\e971";
$icon-timer: "\e972";
$icon-half-star: "\e973";
$icon-like: "\e974";
$icon-favorite-star: "\e975";
$icon-calendar-v2: "\e977";
$icon-chat: "\e979";
$icon-chevrons-down1: "\e97a";
$icon-clic: "\e97b";
$icon-doctor: "\e97d";
$icon-excellence1: "\e97e";
$icon-eye1: "\e97f";
$icon-fax: "\e980";
$icon-itineraire: "\e981";
$icon-external-link1: "\e982";
$icon-locator: "\e983";
$icon-locator-v2: "\e984";
$icon-mail-to1: "\e985";
$icon-menu: "\e987";
$icon-less: "\e988";
$icon-gps: "\e989";
$icon-payment: "\e98a";
$icon-more: "\e98d";
$icon-urgency: "\e98e";
$icon-visio: "\e98f";
$icon-check1: "\e991";
$icon-close-bold: "\e992";
$icon-download-v3: "\e993";
$icon-scroll: "\e994";
$icon-facebook-carre: "\e976";

