
.parallax-bg,
.has-background--image.paragraph_parallax {
  background-attachment: fixed;
  background-position  : center;
  background-repeat    : no-repeat;
  background-size      : cover;
}

.vactory-page--has-background,
.has-background--image {
  background-repeat  : no-repeat;
  background-position: center;
  background-size    : cover;

  &.bg-size-contain {
    background-size: contain;
  }

  &.bg-size-auto {
    background-size: auto;
  }

  &.bg-size-awb {
    background-size: auto 150px;
  }

  &.bg-align-right {
    background-position-x: right;
  }

  &.bg-align-left {
    background-position-x: left;
  }

  &.bg-align-top {
    background-position-y: top;
  }

  &.bg-align-bottom {
    background-position-y: bottom;
  }

  &.bg-align-v-center {
    background-position-y: center;
  }

  &.bg-align-h-center {
    background-position-x: center;
  }

  &.bg-parallax {
    background-attachment: fixed;
  }
}

.bg-size-cover {
  background-size: cover;
}

.bg-size-contain {
  background-size: contain;
}

.bg-size-auto {
  background-size: auto;
}

.bg-size-auto-100 {
  background-size: auto 100%;
}

.bg-size-100-auto{
  background-size: 100% auto;
}

.bg-size-awb {
  background-size: auto 150px;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-align-right {
  background-position-x: right;
}

.bg-align-left {
  background-position-x: left;
}

.bg-align-top {
  background-position-y: top;
}

.bg-align-bottom {
  background-position-y: bottom;
}

.bg-align-center {
  background-position: center;
}

.bg-align-v-center,
.bg-align-y-center {
  background-position-y: center;
}

.bg-align-h-center,
.bg-align-x-center {
  background-position-x: center;
}

.bg-attachment-fixed {
  background-attachment: fixed;
}

.bg-attachment-scroll {
  background-attachment: scroll;
}
