.form-item.form-item-global-file,
.form-item.form-item-document-file,
.form-item.form-item-audio-file,
.form-item.form-item-image-file,
.form-item.form-item-video-file,
.form-item.form-type-managed-file,
.form-item.custom-form-file-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  .form-managed-file {
    position: relative;
  }

  .ajax-progress.ajax-progress-throbber {
    position: absolute;
    top: 3px;
    right: 12px;
    z-index: 2;
  }

  .form-file-input,
  input[type="file"] {
    position: relative;
    z-index: 2;
    width: 100%;
    height: $custom-file-height;
    margin: 0;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
  }

  .label-input-webform {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: $custom-file-height;
    padding: $custom-file-padding-y $custom-file-padding-x;
    padding-right: 50px;
    text-align: right;
    margin: 0;
    overflow: hidden;
    font-family: $custom-file-font-family;
    font-weight: $custom-file-font-weight;
    line-height: $custom-file-line-height;
    color: rgba(101, 106, 114, 0.5);
    background-color: $custom-file-bg;
    border: $custom-file-border-width dashed $custom-file-border-color;
    cursor: pointer;
    @include border-radius($custom-file-border-radius);
    // @include box-shadow($custom-file-box-shadow);

    &::before {
      content: $icon-more;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(101, 106, 114, 0.5);
      border: 1px solid rgba(101, 106, 114, 0.5);
      border-radius: 50%;
      font-size: 14px;
      width: 22px;
      height: 22px;
      font-family: $icomoon-font-family;
    }
  }

  &.remove-file:not(.custom-multiple-file)  {
    .form-managed-file {
      display: flex;
      // flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      padding: $custom-file-padding-y $custom-file-padding-x;
      background-color: $custom-file-bg;
      border: $custom-file-border-width dashed $custom-file-border-color;
      @include border-radius($custom-file-border-radius);

      span.file {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span.file-size {
        flex-shrink: 0;
        margin-left: 5px;
        margin-right: 10px;
      }

      button[name$="remove_button"],
      input[name$="remove_button"] {
        border: none !important;
        background-color: transparent !important;
        color: $primary;
        padding: 0;
        margin-left: auto;
        @include elstate() {
          i.icon {
            transform: none;
          }
        }
        i.icon {
          &::before {
            content: $icon-close-bold;
          }
        }
      }
    }
    .label-input-webform {
      display: none;
    }
  }

  &.remove-file.custom-multiple-file {
    .form-managed-file {
      .form-file-input {
        margin-bottom: 20px;
      }

      span.file {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span.file-size {
        flex-shrink: 0;
        margin-left: 5px;
        margin-right: 10px;
      }

      button[name$="remove_button"] {
        border: none !important;
        background-color: transparent !important;
        color: $primary;
        padding: 0;
        margin-left: auto;
        @include elstate() {
          i.icon {
            transform: none;
          }
        }
        i.icon {
          &::before {
            content: $icon-close-bold;
          }
        }
      }
    }

    .label-input-webform {
      top: 0;
      bottom: auto;
    }

  }

  .messages--error {
    ~ .label-input-webform {
      border-color: $danger;
      color: $danger;
      &::before {
        border-color: $danger;
        color: $danger;
      }
    }
  }
}

.form-item.custom-form-file-wrapper {
  .form-type-submit {
    i.icon {
      display: inline-block;
    }
  }
  > .webform-element-description {
    background-color: transparent !important;
    padding: 0 !important;
    color: #374253 !important;
    font-size: 12px !important;
  }
}

.custom-form-file-wrapper {
  .is-invalid {
    .label-input-webform {
      border-color: $red;
      color: $red;
      &::before {
        border-color: $red;
        color: $red;
      }
    }
  }
}