.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.layout-grid {
  span {
    display: block;
    width: 100%;
    height: 150px;
    background-color: #3D83B5;
    opacity: .5;
  }
}

.sg-bloc {
  padding-top: 75px;
  padding-bottom: 75px;

  &__title {
    display: block;
    padding-left: 90px;
    position: relative;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #3D83B5;
    margin: 40px 0 40px;
    &::before {
      content: '';
      display: block;
      width: 75px;
      height: 26px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #3D83B5;
    }
  }
}



.sg-color-box {
  border-radius: 5px;
  box-shadow: $box-shadow;
  overflow: hidden;
  &__color {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    font-size: 18px;
    line-height: 26px;
  }
  &__info {
    padding: 12px 20px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.code-srouce {
  border: 2px dashed $gray-400;
  padding: 20px;
  border-radius: 5px;
}

.sg-icons-wrapper {
  flex-direction: column;
  padding: 14px 2px;
  box-shadow: $box-shadow;
  height: 100%;
  text-align: center;

  .icon {
    font-size: 30px;
    margin-bottom: 10px;
  }
  span {
    font-size: 12px;
    font-weight: bold;
    color: $dark;
  }
}


.font-name {
  color: #002C4C;
  font-size: 28px;
  line-height: 33px;
  font-weight: bold;
}

.font-url {
  font-size: 14px;
  line-height: 15px;
  color: $black;
  opacity: .5;
}

.font-using {
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
}

.sg-typography {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sg-footer {
  background-color: #003782;
  color: $white;
  padding: 40px 30px;

  .made-with-love {
    // font-family: $font-family-avenir-heavy;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 2px;
  }
  .copyright-bloc {
    // font-family: $font-family-bebas-regular;
    text-align: right;
    font-size: 12px;
    letter-spacing: 1.5px;
  }
}
