// themes/%/src/scss/components/_accordion.scss
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

.accordion {

  .accordion-header {
    background: transparent;
    padding: 0;

    + div {
      border: 1px solid #D5D5D5;
      border-top: 0;
      border-radius: 0 0 5px 5px;
      background: $white;

      &.show,
      &.collapsing {
        border-color: $primary;
      }
    }

    [data-toggle="collapse"] {
      display: block;
      width: 100%;
      position: relative;
      padding: 21px 45px 21px 30px;
      border: 1px solid #D5D5D5;
      border-radius: 5px;
      text-align: left;
      text-decoration: none;
      white-space: normal;
      color: $black;
      font-size: 16px;
      line-height: 24px;
      font-weight: $font-weight-bold;
      background-color: $white;

      &:hover {
        cursor: pointer;
      }

      &::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 26px;
        transform: translate(-50%, -50%);
        font-family: $icomoon-font-family;
      }
    }
    [aria-expanded="false"] {
      &::after {
        content: $icon-more;
      }
    }
    [aria-expanded="true"] {
      border-radius: 5px 5px 0 0;
      background-color: $primary;
      border-color: $primary;

      &::after {
        content: $icon-less;
      }
    }
  }

  .accordion-body {
    padding: 23px 30px;
    font-size: 16px;
    line-height: 24px;
  }
}

.accordion-item {
  margin-bottom: 14px;
}


@include media-breakpoint-down(md) {
  .accordion {
    .accordion-header {
      [data-toggle="collapse"] {
        padding: 20px 40px 20px 20px;

        &::after {
          right: 10px;
        }
      }
    }
    .accordion-body {
      padding: 20px 20px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .accordion {
    .accordion-header {
      [data-toggle="collapse"] {
        padding: 16px 35px 16px 16px;
      }
    }
    .accordion-body {
      padding: 20px 16px;
      font-size: 14px;
      line-height: 1.3;
    }
  }
}
