
.vf-addtoany-fixed {
  $icon-color:$white;
  $icon-color-hover:$secondary;
  $icon-fixed-color:$primary;
  $icon-position-top:206px;

  &.block--addtoanybuttons {
    position: absolute;
    top: $icon-position-top;
    left: 6px;
    z-index: 9;
    &.right {
      right: 6px;
      left: inherit;
    }
    .addtoany_list {
      display: flex;
      flex-direction: column;
      text-align: center;
      a {
        margin-bottom: 22px;
      }
      [class*="icon-"] {
        color:$icon-color;
        font-size:23px;
        &:hover {
          color: $icon-color-hover;
        }
      }
    }
    &.buttons-fixed {
      position: fixed;
      top: 50%;
      left: -27px;
      &.fade-left {
        left: 6px;
        transition: left 1s;
      }
      .addtoany_list {
        [class*="icon-"]  {
          color: $icon-fixed-color;
          &:hover {
            color: $icon-color-hover;
          }
        }
      }

      &.right {
        right: -27px;
        left: inherit;
        &.fade-left {
          left: inherit;
          right: 6px;
          transition: right 1s;
        }
      }
    }
  }
}

.block--addtoanybuttons {
  .addtoany_list {
    [class*="icon-"] {
      span {
        display:none;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .vf-addtoany-fixed {
    &.block--addtoanybuttons {
      left: 24px;
      &.right {
        right: 24px;
      }
      &.buttons-fixed {
        &.fade-left {
          left: 24px;
        }
        &.right {
          &.fade-left {
            right: 24px;
          }
        }
      }
    }
  }
}

