// @module
// themes/interface/src/scss/modules/_cookies_layer.scss
// Cookies Layer
// -----------------------------------------------------------------------------

// Variables
// --------------------------------------------------
$ck_background: $white;
$ck_fontsize: 18px;
$ck_lineheight: 23px;
$ck_heading_color: $black;
$ck_txtcolor: $black;

// Components
// --------------------------------------------------
// #sliding-popup {
//   &.sliding-popup-bottom {
//     background: $ck_background;
//     box-shadow: 1px 3px 12px 0 rgba(0, 0, 0, .14);
//   }

//   .popup-content {
//     //@include clearfix;
//     //@extend .container-fluid;
//     display: flex;
//     flex-direction: column;
//     @include rem(padding, 15px 30px !important);
//     align-items: flex-start;

//     #popup-text {
//       margin-bottom: 10px;
//       text-align: left;

//       h2 {
//         color: $ck_heading_color;
//       }

//       p {
//         font-size: $ck_fontsize;
//         color: $ck_txtcolor;
//         margin-bottom: 9px;

//         a {
//           @extend .permalink;
//         }

//         &:last-child {
//           margin-bottom: 0;
//         }
//       }
//     }

//     #popup-buttons {
//       margin-right: auto;

//       .agree-button {
//         @extend .btn-primary;
//         @include rem(padding-right, 51px);
//         margin-top: 0 !important;
//         margin-bottom: 0 !important;
//         position: relative;

//         &, b {
//           //font-family: $font-source-regular;
//         }

//         &:hover:after {
//           color: $primary;
//         }

//         &:after {
//           content: $icon-close;
//           position: absolute;
//           top: 50%;
//           right: 20px;
//           @include rem(font-size, 15px);
//           color: $white;
//           transform: translateY(-50%);
//           font-family: 'vactory';
//           transition: color 300ms ease-in;
//         }
//       }
//     }
//   }
// }

// @include media-breakpoint-up(lg) {
//   #sliding-popup {
//     .popup-content {
//       @include rem(padding, 15px 50px !important);
//       flex-direction: row;
//       justify-content: space-between;
//       align-items: center;

//       #popup-text {
//         margin-bottom: 0;
//       }

//       #popup-buttons {
//         margin-left: 0 !important;
//         margin-right: 0;
//       }
//     }
//   }
// }


/**
 * New Cookie layer Variant
 **/
// Variables
// --------------------------------------------------
$ck_v2_background   : #282e37;
$ck_v2_fontsize     : 12px;
$ck_v2_lineheight   : 1;
$ck_v2_heading_color: $white;
$ck_v2_txtcolor     : $white;

// Components
// --------------------------------------------------
#sliding-popup {
  &.sliding-popup-bottom {
    background-color: $ck_v2_background;
    box-shadow      : 3px 5px 13px 0 rgba(0, 0, 0, 0.12);
  }
  @include media-breakpoint-up(sm) {
    left     : 20px;
    bottom: 20px !important;
    width    : 60%;
    max-width: 580px;
  }
}
.cookie-layer-v2 {
  padding: 15px;

  &__content {
    @include media-breakpoint-up(sm) {
      display: flex;
      align-items: center;
      .cookie-layer-v2__buttons {
        margin-left: 20px;
      }
    }
  }

  &__message {
    position: relative;
    padding-left: 50px;
    text-align: left;
    .icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 30px;
      color: $yellow;
    }
    h2 {
      font-size: $ck_v2_fontsize;
      line-height: $ck_v2_lineheight;
      text-align: left;
    }
    p {
      font-size: $ck_v2_fontsize;
      line-height: $ck_v2_lineheight;
      display: inline;
      text-align: left;
    }
  }
  &__find-more-button {
    display: inline;
    background: none;
    border: 0;
    text-decoration: underline;
    color: $white;
    font-size: $ck_v2_fontsize;
    line-height: $ck_v2_lineheight;
    &:hover {
      color: $yellow;
    }
  }
  &__buttons {
    margin-top: 10px;
    text-align: right;
    button {
      background: none;
      border: 2px solid $yellow;
      color: $white;
      font-size: 12px;
      line-height: 1;
      box-shadow: none;
      text-shadow: none;
      border-radius: 0;
      font-weight: normal;
      padding: 8px 10px;
      margin: 5px;
      &:hover {
        background: none;
        background-color: $yellow;
        color: $black;
      }
    }
  }
}
