


.vf-go-back-top {
  border: solid 1px $white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.08);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: $primary;
  position: fixed;
  bottom: 30px;
  right: 30px;
  outline: none !important;
  transition: all .3s;
  font-size: 15px;
  display: none;
  z-index: 999;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  a {
    color: transparent;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: $icon-arrow-up;
      font-family: $icomoon-font-family;
      color: $black;
      font-size: 16px;
    }
  }

  &:hover {
    background-color: darken($primary, 4);
    text-decoration: initial
  }
}

@media(max-width: 768px) {
  .vf-go-back-top {
      right: auto;
      left: 10px;
      bottom: 70px
  }
}
