$views-exposed-form-m-border: #e1e1e1 !default;

.view__filters {
  margin-top: 30px;
  margin-bottom: 10px;
}

.views-exposed-form {
  width: 100%;
  .form-row {
    > .col {
      margin-bottom: 20px;
      margin-right: 0;
      width: 100%;
      flex-basis: 100%;
    }

  }
  .col-12 > .col {
    padding-left: 0;
    padding-right: 0;
  }


  // Fix IE Bug
  @include if-ie() {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    .form-row {
      > .col {
        flex-basis: 40%;
      }
    }
  }
}

.form-actions-button-right {
  .form-actions {
    text-align: right;
  }
}

@include media-breakpoint-up(sm) {
  .views-exposed-form {
    .form-row {
      > .col {
        flex-basis: 50%;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .view__filters {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .views-exposed-form {
    width: auto;
    .form-row {
      > .col {
        margin-right: 20px;
        flex-basis: auto;
        max-width: 280px;
        &.form-actions {
          max-width: 100%;
          width: auto;
          text-align: left;
          // .button {
          //   margin-top: 4px;
          // }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .view__filters {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .views-exposed-form {
    .form-row {
      > .col {
        max-width: 310px;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .views-exposed-form {
    .form-row {
      > .col {
        max-width: 320px;
      }
    }
  }
}
