<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Styleguide</title>
  {% include "./includes/sg_fonts.twig" %}
  {% include "./includes/sg_styles.twig" %}
</head>
<body class="sg-body">
  {#% include "./includes/sg_header.twig" %#}

  <main>
    <div class="sg-bloc">
      <div class="container">
        <h1 class="text-center">Style Guide by <img src="../img/void-logo-footer.png" alt=""></h1>
      </div>
    </div>

    {% include "./components/layout.twig" %}

    {% include "./components/colors.twig" %}

    {% include "./components/typography.twig" %}

    {% include "./components/icons.twig" %}

    {% include "./components/buttons.twig" %}

    {% include "./components/alerts.twig" %}

    {% include "./components/badges.twig" %}

    {% include "./components/modal.twig" %}

    {% include "./components/breadcrumb.twig" %}

    {% include "./components/filters.twig" %}

    {% include "./components/forms.twig" %}

    {% include "./components/images.twig" %}

    {% include "./components/cards.twig" %}

    {% include "./components/pagination.twig" %}

    {% include "./components/banner.twig" %}

    {% include "./components/block-share.twig" %}

    {% include "./components/accordion.twig" %}

    {#% include "./components/footer.twig" %#}

  </main>

  {% include "./includes/sg_footer.twig" %}

  {% include "./includes/sg_scripts.twig" %}
</body>
</html>
