<div class="sg-bloc">
  <h2 class="sg-bloc__title">Alerts</h2>

  <div class="container">
    <div class="alert alert-success" role="alert">
      <strong>Well done!</strong> You successfully read this important alert message.
    </div>

    <div class="alert alert-info" role="alert">
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>

    <div class="alert alert-warning" role="alert">
      <strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div>

    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>

    <div class="code-srouce">
      <div class="text-right">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#codesourcebutton" aria-expanded="false" aria-controls="collapseExample">
          show code source
        </button>
      </div>
      <div class="collapse" id="codesourcebutton">
        <pre class="prettyprint linenums">
          <code class="lang-markup"><!--
            <button class="btn btn-primary">test</button>
          --></code>
        </pre>
      </div>
    </div>
  </div>
</div>
