<div class="sg-bloc">
  <h2 class="sg-bloc__title">Banner</h2>

  <div id="block-global-banner" class="vf-banner">

    <div
      style="background-color: rgb(255, 255, 255); background-image: url('https://via.placeholder.com/1280x250?text=Vactory+Image+Place+Holder');"
      class="vf-banner__image"></div>
    <div class="container vf-banner__container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <div class="vf-banner__title">

            <h1>Insights</h1>

          </div>
          <div class="vf-banner__body">
            <p> </p>
          </div>
          <div class="vf-banner__blocks">

            <div class="vactory-banner__field-vactory-blocks-multiple">
              <div class="field__item">

                <div class="block">

                  <div class="block__content">

                    <nav role="navigation" class="c-breadcrumb" aria-labelledby="system-breadcrumb">
                      <h2 id="system-breadcrumb" class="visually-hidden">Fil d'Ariane</h2>
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="/fr">Accueil</a>
                        </li>
                        <li class="breadcrumb-item">
                          <a href="/fr/insights">Insights</a>
                        </li>
                      </ol>
                    </nav>

                  </div>
                </div>

              </div>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
