<div class="sg-bloc">
  <h2 class="sg-bloc__title">Breadcrumb</h2>
  <div class="container bg-dark">
    <nav role="navigation" class="c-breadcrumb" aria-labelledby="system-breadcrumb">
      <h2 id="system-breadcrumb" class="visually-hidden">Fil d'Ariane</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/fr">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          Admin
        </li>
        <li class="breadcrumb-item">
          Appearance
        </li>
        <li class="breadcrumb-item">
          Settings
        </li>
      </ol>
    </nav>
  </div>
</div>
