<div class="sg-bloc">
	<h2 class="sg-bloc__title">Cards</h2>
	<div class="container">
		<div class="row eq-height">
			{% for item, index in 0..1 %}
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 d-flex pb-4">
					<article role="article" about="/fr/insights/singularis" class="vf-card--news card">
						<div class="card-image__wrapper">

							<div class="vf-card__image vactory-news__field-vactory-media">
								<picture class="card-picture-figure">
									<img class="img-fluid" src="https://via.placeholder.com/560x315?text=Vactory+Image+Place+Holder" typeof="foaf:Image" alt="bg" title="">
								</picture>

							</div>

						</div>
						<div class="card-body">


							<h4 class="card-title">
								<a href="/fr/insights/singularis" rel="bookmark" class="link font-semibold text-uppercase font-20">
									<span>Singularis</span>


								</a>
							</h4>

							<h6 class="card-subtitle mb-2">
								<span class="badge badge-primary">theme
									{{index}}</span>
							</h6>

							<div class="card-text">
								<p></p>
								<p>Blandit capto comis genitus luptatum metuo quae quis refoveo te. Camur commodo ex letalis nunc probo validus. Duis quia secundum te ulciscor. Augue damnum haero sino vulputate zelus. Caecus cui incassum nostrud odio. Duis neque ullamcorper valde validus velit. Magna pertineo rusticus ullamcorper validus. Defui distineo incassum lucidus vulpes. Euismod...</p>

								<p></p>
							</div>

							<div class="card-read-more">
								<a href="/fr/insights/singularis" class="btn btn-primary">Read more</a>
							</div>
						</div>
					</article>

				</div>
			{% endfor %}
		</div>

		<div class="row">
			{% for item in 0..1 %}
				<div class="col-12 pb-4">
					<article role="article" class="contextual-region vf-card--news card card--inline" about="/en/news/news-quadrum-venio">
						<div class="card-col position-relative card-image--inline">

							<div class="vf-card__image  vactory-news__field-vactory-media">
								<picture>
									<img class="vf-card__image img-fluid" src="https://via.placeholder.com/464x261?text=Vactory+Image+Place+Holder" alt="sass" typeof="foaf:Image">

								</picture>
							</div>
						</div>
						<div class="card-col position-relative card-body--inline">
							<div class="card-body">


								<h4 class="card-title">
									<a href="/en/news/news-quadrum-venio" rel="bookmark" class="link font-semibold text-uppercase font-20">

										<span>News - Quadrum Venio</span>
									</a>
								</h4>
								<div data-contextual-id="node:node=240:changed=1620662254&amp;langcode=en" data-contextual-token="dIuzLAtN7mx_m3sg-Z0OK-g8ZAVDFbEpL1nfia490p0" class="contextual">
									<button class="trigger visually-hidden focusable" type="button" aria-pressed="false">Open  configuration options</button>

									<ul class="contextual-links" hidden="">
										<li class="entitynodeedit-form">
											<a href="/en/node/240/edit?destination=/en/node/233">Edit</a>
										</li>
										<li class="entitynodedelete-form">
											<a href="/en/node/240/delete?destination=/en/node/233">Delete</a>
										</li>
										<li class="content-translationcontextual-linksnode">
											<a href="/en/node/240/translations?destination=/en/node/233">Translate</a>
										</li>
									</ul>

								</div>
								<h6 class="card-subtitle mb-2"></h6>
								<h6 class="card-subtitle mb-2">
									<span class="badge badge-primary">Environnement</span>
									<span class="badge badge-primary">Pubication</span>
								</h6>


								<div class="card-text">
									<p>

										Iaceo mos quis ratis sit. Erat euismod eum fere oppeto persto te. Ad amet hendrerit neque sudo suscipit tego virtus vulpes. Adipiscing duis euismod quae roto zelus. Acsi luptatum occuro paulatim persto. Facilisis hendrerit hos iaceo jumentum mauris quia quibus utinam virtus. [...]

									</p>
								</div>

								<div class="card-read-more">
									<a href="/en/news/news-quadrum-venio" class="btn btn-primary">Read more</a>
								</div>
							</div>
						</div>
					</article>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
