<div class="sg-bloc">
  <h2 class="sg-bloc__title">Colors</h2>
  <div class="container">
    <div class="mb-3">
      <h3>Gray Colors</h3>
      <div class="row">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #F8F9FA;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#F8F9FA</b></span>
              <span>scss: <b>$gray-100</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #E9ECEF;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#E9ECEF</b></span>
              <span>scss: <b>$gray-200</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #DEE2E6;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#DEE2E6</b></span>
              <span>scss: <b>$gray-300</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #ced4da;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#ced4da</b></span>
              <span>scss: <b>$gray-400</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #adb5bd;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#adb5bd</b></span>
              <span>scss: <b>$gray-500</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #6c757d;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#6c757d</b></span>
              <span>scss: <b>$gray-600</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #495057;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#495057</b></span>
              <span>scss: <b>$gray-700</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #343a40;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#343a40</b></span>
              <span>scss: <b>$gray-800</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #212529;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#212529</b></span>
              <span>scss: <b>$gray-900</b></span>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="mb-3">
      <h3>Global Colors</h3>
      <div class="row">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #007bff;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#007bff</b></span>
              <span>scss: <b>$blue</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #6610f2;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#6610f2</b></span>
              <span>scss: <b>$indigo</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #6f42c1;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#6f42c1</b></span>
              <span>scss: <b>$purple</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #e83e8c;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#e83e8c</b></span>
              <span>scss: <b>$pink</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #dc3545;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#dc3545</b></span>
              <span>scss: <b>$red</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #fd7e14;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#fd7e14</b></span>
              <span>scss: <b>$orange</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #ffc107;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#ffc107</b></span>
              <span>scss: <b>$yellow</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #28a745;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#28a745</b></span>
              <span>scss: <b>$green</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #20c997;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#20c997</b></span>
              <span>scss: <b>$teal</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #17a2b8;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#17a2b8</b></span>
              <span>scss: <b>$cyan</b></span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div>
      <h3>Theme Colors</h3>
      <div class="row">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #007bff;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#007bff</b></span>
              <span>scss: <b>$primary</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #6c757d;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#6c757d</b></span>
              <span>scss: <b>$secondary</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #28a745;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#28a745</b></span>
              <span>scss: <b>$success</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #17a2b8;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#17a2b8</b></span>
              <span>scss: <b>$info</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #ffc107;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#ffc107</b></span>
              <span>scss: <b>$warning</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #dc3545;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#dc3545</b></span>
              <span>scss: <b>$danger</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #F8F9FA;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#F8F9FA</b></span>
              <span>scss: <b>$light</b></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="sg-color-box">
            <div class="sg-color-box__color" style="background-color: #343a40;"></div>
            <div class="sg-color-box__info d-flex flex-column">
              <span class="text-uppercase">HEX: <b>#343a40</b></span>
              <span>scss: <b>$dark</b></span>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
