<div class="sg-bloc">
  <h2 class="sg-bloc__title">Views filter</h2>
  <div class="container">
    <div class="view__filters view-filters">
      <form class="views-exposed-form bef-exposed-form">
        <div class="form-row">
          <div class="form-type-select title-before col">
            <select id="edit-taxonomy-insights-categories" name="taxonomy_insights_categories" class="form-select form-control">
              <option value="All">Catégorie</option>
              <option value="6">Education financière</option>
              <option value="9">Guides</option>
              <option value="8">Rapports et analyses</option>
              <option value="7">Actualités</option>
            </select>
          </div>

          <div class="form-type-select title-before col">
            <select id="edit-field-vactory-news-theme-target-id" name="field_vactory_news_theme_target_id" class="form-select form-control">
              <option value="All">Théme</option>
              <option value="2">theme1</option>
              <option value="3">theme2</option>
              <option value="4">theme3</option>
              <option value="5">theme4</option>
            </select>
          </div>

          <div class="form-group form-actions form-wrapper col" id="edit-actions">
            <input type="submit" id="edit-submit-vactory-news" value="Apply" class="button form-submit form-type-submit btn btn-primary">
            <input class="btn-secondary btn-reset button form-submit form-type-submit btn btn-primary" type="submit" id="edit-reset" name="op" value="Reset">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
