<div class="sg-bloc">
  <h2 class="sg-bloc__title">Footer</h2>
  <footer class="vf-footer">

    <div class="vf-footer__top">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="vf-footer__branding">
              <a href="/" title="Accueil" rel="home" class="navbar-brand">
                <img src="/themes/africa_bright/assets/img/africa-bright-bleu-logo.svg" alt="Accueil" class="site-logo">
              </a>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <div class="vf-footer__menu">

              <div class="menu__item">
                <a href="/fr/le-groupe-africa-bright-banque-affaire" class="menu__link" target="_self">Le Groupe Africa
                  Bright</a>
              </div>

              <div class="menu__item">
                <a href="/fr/nos-filiales-en-afrique" class="menu__link" target="_self">Nos filiales </a>
              </div>

              <div class="menu__item">
                <a href="/fr/nous-rejoindre" class="menu__link" target="_self">Nous rejoindre</a>
              </div>

              <div class="menu__item">
                <a href="/fr/glossaire" class="menu__link" target="_self">Glossaire</a>
              </div>

              <div class="menu__item">
                <a href="/fr/questions-reponses" class="menu__link" target="_self">FAQ</a>
              </div>

              <div class="menu__item">
                <a href="/fr/contact" class="menu__link" target="_self">Nous contacter</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="vf-footer__bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="vf-footer__menu-secondary">
              <nav class="block block--menu" role="navigation" aria-labelledby="-menu">
                <ul class="nav nav-pills">
                  <li>
                    <a href="/mentions-legales" id="menu-link-mtywnzuymdy2oa">Mentions légales </a>
                  </li>
                  <li>
                    <a href="/plan-du-site" id="menu-link-mtywnzuymdc4nq">Plan du site</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
            <div class="vf-footer__realisation">
              <span>Conception et développement : <a href="https://www.void.fr/" target="_blank"
                  rel="noopener noreferrer">void.fr</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
