<div class="sg-bloc" class="sg-layout">
  <h2 class="sg-bloc__title">Layout</h2>
    <div class="container">

        <div class="layout-mobile mb-4">
            <div class="mb-1">
                <h2 class="mb-0">Mobile Grid - 4 colones</h2>
                <small>gutters width = 30px</small>
            </div>
            <div class="row layout-grid">
                <div class="col-3"><span></span></div>
                <div class="col-3"><span></span></div>
                <div class="col-3"><span></span></div>
                <div class="col-3"><span></span></div>
            </div>
        </div>

        <div class="layout-desktop">
            <div class="mb-1">
                <h2 class="mb-0">Desktop grid- 12 colones</h2>
                <small>gutters width = 30px</small>
            </div>

            <div class="row layout-grid">
                <div class="col-1"><span></span></div>
                <div class="col-1"><span></span></div>
                <div class="col-1"><span></span></div>
                <div class="col-1"><span></span></div>
                <div class="col-1"><span></span></div>
                <div class="col-1"><span></span></div>
                <div class="col-1"><span></span></div>
                <div class="col-1"><span></span></div>
                <div class="col-1"><span></span></div>
                <div class="col-1"><span></span></div>
                <div class="col-1"><span></span></div>
                <div class="col-1"><span></span></div>
            </div>
        </div>
    </div>
</div>
