<div class="sg-bloc">
  <h2 class="sg-bloc__title">Fonts Familly</h2>
  <div class="container">

    <div class="sg-typography font-bebas-book mb-3">
      <div class="font-name">Bebas neue pro</div>
      <div class="font-url">https://www.fonts.com/font/dharma-type/bebas-neue-pro/book</div>
      <div class="font-url">https://www.fonts.com/font/dharma-type/bebas-neue-pro/regular</div>
      <div class="font-url">https://www.fonts.com/font/dharma-type/bebas-neue-pro/bold</div>
      <div class="font-using">The Bebas neue is used for titles.</div>

      <div class="row mt-2">
        <div class="col-md-4 mb-2">
          <div class="font-bebas-regular">
            <h3 class="font-bebas-regular">Bebas neue pro Regular</h3>
            <div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div>abcdefghijklmnopqrstuvwxyz</div>
            <div>àâéèêîôûùœæçÀÂÉÈÊÎÔÛÙŒÆÇ </div>
            <div>1234567890</div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div class="font-bebas-book">
            <h3 class="font-bebas-book">Bebas neue pro Book</h3>
            <div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div>abcdefghijklmnopqrstuvwxyz</div>
            <div>àâéèêîôûùœæçÀÂÉÈÊÎÔÛÙŒÆÇ </div>
            <div>1234567890</div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div class="font-bebas-bold">
            <h3 class="font-bebas-bold">Bebas neue pro Bold</h3>
            <div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div>abcdefghijklmnopqrstuvwxyz</div>
            <div>àâéèêîôûùœæçÀÂÉÈÊÎÔÛÙŒÆÇ </div>
            <div>1234567890</div>
          </div>
        </div>
      </div>
    </div>

    <hr class="sg-divider">

    <div class="sg-typography font-avenir-book mb-3">
      <div class="font-name">Avenir</div>
      <div class="font-url">https://www.fonts.com/font/linotype/avenir/45-book</div>
      <div class="font-url">https://www.fonts.com/font/linotype/avenir/65-medium</div>
      <div class="font-url">https://www.fonts.com/font/linotype/avenir/85-heavy</div>
      <div class="font-url">https://www.fonts.com/font/linotype/avenir/95-black</div>
      <div class="font-using">The Avenir is used for text.</div>

      <div class="row mt-2">
        <div class="col-md-4 mb-2">
          <div class="font-avenir-book">
            <h3 class="font-avenir-book">Avenir Book</h3>
            <div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div>abcdefghijklmnopqrstuvwxyz</div>
            <div>àâéèêîôûùœæçÀÂÉÈÊÎÔÛÙŒÆÇ </div>
            <div>1234567890</div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div class="font-avenir-medium">
            <h3 class="font-avenir-medium">Avenir Medium</h3>
            <div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div>abcdefghijklmnopqrstuvwxyz</div>
            <div>àâéèêîôûùœæçÀÂÉÈÊÎÔÛÙŒÆÇ </div>
            <div>1234567890</div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div class="font-avenir-heavy">
            <h3 class="font-avenir-heavy">Avenir Heavy</h3>
            <div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div>abcdefghijklmnopqrstuvwxyz</div>
            <div>àâéèêîôûùœæçÀÂÉÈÊÎÔÛÙŒÆÇ </div>
            <div>1234567890</div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div class="font-avenir-black">
            <h3 class="font-avenir-black">Avenir Black</h3>
            <div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div>abcdefghijklmnopqrstuvwxyz</div>
            <div>àâéèêîôûùœæçÀÂÉÈÊÎÔÛÙŒÆÇ </div>
            <div>1234567890</div>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>

<div class="sg-bloc">
  <h2 class="sg-bloc__title">Headings</h2>
  <div class="container">
    <div>
      <div class="mb-2">
        <h1 class="mb-0">Heading H1 Element</h1>
        <small>Font-size desktop: <b>40px</b></small>
        <br>
        <small>Font-size tablet: <b>40px</b></small>
        <br>
        <small>Font-size Mobile: <b>40px</b></small>
      </div>

      <div class="mb-2">
        <h2 class="mb-0">Heading H2 Element</h2>
        <small>Font-size: <b>32px</b></small>
        <br>
        <small>Font-size tablet: <b>32px</b></small>
        <br>
        <small>Font-size Mobile: <b>32px</b></small>
      </div>

      <div class="mb-2">
        <h3 class="mb-0">Heading H3 Element</h3>
        <small>Font-size: <b>28px</b></small>
        <br>
        <small>Font-size tablet: <b>28px</b></small>
        <br>
        <small>Font-size Mobile: <b>28px</b></small>
      </div>

      <div class="mb-2">
        <h4 class="mb-0">Heading H4 Element</h4>
        <small>Font-size: <b>24px</b></small><br>
        <small>Font-size tablet: <b>24px</b></small>
        <br>
        <small>Font-size Mobile: <b>24px</b></small>
      </div>

      <div class="mb-2">
        <h5 class="mb-0">Heading H5 Element</h5>
        <small>Font-size: <b>20px</b></small>
        <br>
        <small>Font-size tablet: <b>20px</b></small>
        <br>
        <small>Font-size Mobile: <b>20px</b></small>
      </div>

      <div class="mb-2">
        <h6 class="mb-0">Heading H6 Element</h6>
        <small>Font-size: <b>16px</b></small>
        <br>
        <small>Font-size tablet: <b>16px</b></small>
        <br>
        <small>Font-size Mobile: <b>16px</b></small>
      </div>

    </div>
  </div>
</div>

<div class="sg-bloc">
  <h2 class="sg-bloc__title">Typography / Text</h2>

  <div class="container">
    <div class="sg-sub-section sg-example">
      <h3 class="sg-h3 sg-title">Example</h3>
      <h1>Hello World</h1>
      <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <ul>
        <li>In voluptate velit esse cillum</li>
        <li>In voluptate velit esse cillum</li>
        <li>In voluptate velit esse cillum</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <hr>

    <div class="sg-sub-section sg-example">
      <h3 class="sg-h3 sg-title">Example</h3>
      <p>The <a href="#">a element</a> example</p>
      <p>The <abbr>abbr element</abbr> and an <abbr title="Abbreviation">abbr</abbr> element with title examples</p>
      <p>The <b>b element</b> example</p>
      <p>The <cite>cite element</cite> example</p>
      <p>The <code>code element</code> example</p>
      <p>The <em>em element</em> example</p>
      <p>The <del>del element</del> example</p>
      <p>The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples</p>
      <p>The <i>i element</i> example</p>
      <p>The <ins>ins element</ins> example</p>
      <p>The <kbd>kbd element</kbd> example</p>
      <p>The <mark>mark element</mark> example</p>
      <p>The <q>q element</q> example</p>
      <p>The <q>q element <q>inside</q> a q element</q> example</p>
      <p>The <s>s element</s> example</p>
      <p>The <samp>samp element</samp> example</p>
      <p>The <small>small element</small> example</p>
      <p>The <span>span element</span> example</p>
      <p>The <strong>strong element</strong> example</p>
      <p>The <sub>sub element</sub> example</p>
      <p>The <sup>sup element</sup> example</p>
      <p>The <u>u element</u> example</p>
      <p>The <var>var element</var> example</p>
    </div>

  </div>

</div>
